{% load static %}
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo-pic"><img src="{% static 'picture/logo.png' %}" alt="Logo" class="logo-pic"></label>
    <label class="logo"><a href="{% url 'homepage:homepage' %}" style="color: white;">IAmOkay</a></label>
    <ul>
        <li><a href="#talk">Lets Talk About You</a></li>
        <li><a href="#playlist">Playlist</a></li>
        <li><a href="#magazine">Online Magazine</a></li>
        <li><a href="{% url 'announcement:landing' %}">Announcement</a></li>
    </ul>
</nav>