{% extends "base.html" %}
{% load static %}
{% block title %}IAmOkay - Are You?{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}
{% block main_content %}
<div class="container-fluid row landing section">
  <img src="{% static 'picture/right-border-top-transparent.png' %}" alt="picture" class="bg-design size-100">
  <img src="{% static 'picture/right-border-bottom-transparent.png' %}" alt="picture" class="bg-design size-50">

  <div class="col-xl-4 col-2">
    <div class="landing-vector">
      <img src="{% static 'picture/v1.png' %}" alt="picture" class="vector3">
    </div>
  </div>

  <div class="col-xl-6 col-sm-12 col-10 d-flex" style="align-items:center">
    <div class="landing-content">
      <div class="upper">
        <span>#PEDULIDIRI</span>
        <span>#BERANIBERUBAH</span>
        <span>#YOUTHAREOKAY</span>
      </div>
      <div class="middle">
        <span>I Am Okay</span>
      </div>
      <div class="bot">
        <a href="#">Are You?</a>
      </div>
    </div>
  </div>
</div>

<div class="talk section" id="talk">
  <img src="{% static 'picture/right-border-top-transparent.png' %}" alt="picture" class="bg-design size-100">
  <img src="{% static 'picture/right-border-bottom-transparent.png' %}" alt="picture" class="bg-design size-50">
  <img src="{% static 'picture/right-border-darkBlue.png' %}" alt="picture" class="bg-design size-10">
  <div class="header">
    <img src="{% static 'picture/header-talk.svg' %}" alt="header">
  </div>

  <div class="talk-content">
    <div class="left-content">
      <span>Tell Us About Your Story</span>
      <span>We are here to hear you</span>
    </div>
    <div class="right-content"></div>
    <form action="#" class="form-talk">
      <input type="text">
      <input type="submit" value="SUBMIT">
    </form>
  </div>
  <img src="{% static 'picture/window.svg' %}" alt="window" class="window">
</div>

<div class="container-fluid row playlist section" id="playlist">
  <img src="{% static 'picture/left-border-top-transparent.png' %}" alt="picture" class="bg-design size-100">
  <img src="{% static 'picture/left-border-bottom-transparent.png' %}" alt="picture" class="bg-design size-50">
  <img src="{% static 'picture/left-border-yellow.png' %}" alt="picture" class="bg-design size-10">

  <div class="col-xl-6 col-sm-9 col-10 mt-5">
    <div class="card playlist-card">
      <h5 class="card-title playlist-header">
        Let The Music Speak
      </h5>
      <div class="card-body" id="spotify">
        <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1E4tOS1lg4Kdgo" frameborder="0" height="100%" width="100%" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-2 d-flex justify-content-center">
    <img src="{% static 'picture/v-musicboi.png' %}" alt="picture" id="playlist-vector">
  </div>

</div>
<div class="magazine section" id="magazine">
  <img src="{% static 'picture/right-border-top-transparent.png' %}" alt="picture" class="bg-design size-100">
  <img src="{% static 'picture/right-border-bottom-transparent.png' %}" alt="picture" class="bg-design size-50">
  <img src="{% static 'picture/right-border-lightBlue.png' %}" alt="picture" class="bg-design size-10">

  <div class="header">
    <img src="{% static 'picture/header-magazine.svg' %}" alt="header">
  </div>

  <div class="korsel multiple-items px-5">
    <div class="items">
      <div class="items-judul">
        <h4>Some Article Title xx</h4>
      </div>

      <div class="items-sub-judul">
        <span class="cap">subtitle or caption</span>
        <span class="sub-separator"></span>
        <span class="author">author</span>
      </div>

      <div class="items-img"></div>

    </div>
    <div class="items">
      <div class="items-judul">
        <h4>Some Article Title Lorem ipsum dolor sit amet.</h4>
      </div>

      <div class="items-sub-judul">
        <span class="cap">subtitle or caption</span>
        <span class="sub-separator"></span>
        <span class="author">author</span>
      </div>

      <div class="items-img d-flex justify-content-center">
        <img src="{% static 'picture/article-img-placeholder.png' %}" alt="picture" class="">
      </div>
    </div>
    <div class="items">
      <h3>3</h3>
    </div>
    <div class="items">
      <h3>4</h3>
    </div>
    <div class="items">
      <h3>5</h3>
    </div>
  </div>

  {% comment %} <h1 class="tes">test</h1> {% endcomment %}

</div>
<script src="{% static 'js/slicker.js' %}"></script>
{% endblock %}